.display-1,
footer,
body {
  font-family: 'Bebas Neue', cursive;
  color: rgb(167, 117, 117);
}

.logo-type {
  height: 300px;
  width: 300px;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.nav {
font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: normal;
}

.nav-link {
  color: #000;
  text-decoration-color: #000;
}

body {
  /* background-color:#1d1d1d !important; */
  font-family: "Asap", sans-serif;
  color:#fff;
  margin:10px;
  font-size:16px;
}

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:85px;
        }

        
img {
  height: 650px;
  width: 940px;
}
   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }
